body {
  margin: 0; /* Tum sayfadaki dıs boslukları 0 yapar*/
  padding: 0; /* Tum sayfadaki ic boslukları 0 yapar*/
  box-sizing: border-box; /* divlerin boyu hesaplanırken borderlarıda hesaba katar*/
  font-family: "Finlandica", sans-serif; /* Tum sayfadaki kullanılan yazı fonutunu belirler*/
}
#navbar-container {
  padding: 0 100px; /*Yukarıdan ve asagıdan 0px, sag ve soldan 100px bosluk verir  */
  display: flex; /*Bu ozellik ile divler esnek kutu ozelliği kazanır ve elemanlar sayfada yan yana dizilir*/
  justify-content: space-between; /* flex ile beraber kullanılır ve elemanların sayfada saga sola yaslanmasını saglar*/
  border-bottom: 1px solid rgb(153, 148, 148); /*1px lik alt border olusturur */
  color: #000000;
  font-weight: bold;
  font-family: "Finlandica", sans-serif;
  font-size: 1em;
}
ul {
  display: flex; /**liste yi flex yapar ve elamanlarını yan yana dizer */
  list-style: none; /*liste elemanlarının yanındaki nokta isaretlerini kaldırır */
}
ul li {
  margin-right: 30px; /* sagdan 30px dıs bosluk verir*/
  font-size: 16px; /*yazı boyutunu 20 px yapar */
  font-weight: bold; /*Yazıyı kalın yapar */
  color: #a13333; /*yazının rengini ayarlar */
}
ul li:hover {
  /*Burada yazı uzerine gelinince ne olacagı belirliyoruz*/
  cursor: pointer; /*Yazı uzerine gelince el isareti cıkar*/
  color: #4886cc; /* yazı rengi kırmızı olur*/
}
/*Ders 2 Baslangıc*/
#navigasyon {
  display: flex;
}
#login-btn {
  margin: 10px 10px;
  background-color: #a13333;
  color: white;
  padding: 6px 36px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Finlandica", sans-serif;
  font-weight: bold;
}
#login-btn:hover {
  cursor: pointer;
  background-color: #4886cc;
  transition: 1s;
}
#hero-container {
  height: 100vh;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url("https://www.habegger.ch/content/uploads/2020/04/studio-hag-105-hd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  
}
li>i{
  margin-right: 10px;
}
button>i{
  margin-left: 10px;
}
#hero-container>div{
  margin-top: 10%;
  width: 75%;
  text-align: center;
}
#get-started{
  border: none;
  padding: 1em 2em;
  color: #a13333;
  font-weight: bold;
  font-family: "Finlandica", sans-serif;
  font-size: 1em;
  border-radius: 6px;
}

#get-started:hover{
  background-color: #4886cc;
  color: white;
  transition: 0.5s;
}

#servis-title {
  margin-top: 5%;
  text-align: center;
}

hr {
  width: 10%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(209, 93, 93, 0.781),
    rgba(190, 15, 15, 0.75),
    rgba(209, 93, 93, 0.781)
  );
}
#services-box{
  padding: 5% 7.5% ;
  display: flex;
  justify-content: center;
}
.service-info{
  text-align: center;
  border: 1px solid rgb(168, 144, 144);
  margin: 0% 1rem;
  padding: 2rem 1rem 1rem 1rem;  
 -webkit-box-shadow: 2px 4px 15px -1px rgba(0,0,0,0.89); 
 box-shadow: 2px 4px 15px -1px rgba(0,0,0,0.89);  
}
.service-info>h4{
  color: #4886cc;
}
.service-info>i{
  color: #a13333;
}


#slogan {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  padding: 4rem;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url("https://images.unsplash.com/photo-1659355863869-0c4f73b6d184?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#slogan-text {
  width: 50%;
}

#slider-info{
  padding: 5% 7.5%;
  display: flex;
  justify-content:space-around;
}

#feature-info{
  max-width: 50%;
}

.info-grup{
  display: flex; 
  line-height: 50%; 
}
.info-grup>i{
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  color: #a13333;
}
.info-grup>div>h3{
  color:#4886cc;
}


#footer{
  background-color: #a13333;
  color: white;
  display: flex;
  justify-content: center;
  padding: 5%;
}
#footer-icons{
  width: 50%;
  text-align: center;
/*   margin: 5% ;*/
}
#footer-icons>i{
  margin: 10px 5%;
}
#footer-icons>i:hover{
  color: #4886cc;
  cursor: pointer;
  transition: 1s;
}
.fa-copyright{
  margin: 10px;
}
a:link {
  text-decoration: none;
  color: #193c40;
}

a:visited {
  text-decoration: none;
  color: #193c40;
}

a:hover {
  text-decoration: underline;
  color: #2e5902;
}
#about-container {
  height: 30vh;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url("https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
}
#about-container>h1{
  text-align: center;
  margin-top: 5%;
}

#about-info{
  margin: 5% 7.5%;
  background-color: #193c40;
  display: flex;
  justify-content: center;
}
#image-about{
  width: 50%;
}
#image-about>img{
  width: 100%;
}
#text-about{
  color: white;
  width: 50%;
  padding:  5% ;
  font-size: 14px;
}